.grid {
  display: grid;
  gap: 1rem;
}

.cards-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 950px) {
  .cards-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  .cards-4 {
    grid-template-columns: 1fr;
  }
}
